* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
}

header div ul li a:hover {
    background-color: var(--secondary);
}

.bg-1-1 {
    height: 500px;
    background-image: url("../img/bg-1-1.jpg");
    background-size: cover;
    background-position: center;
}
