* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
}

header {
    height: 75px;
}

section {
    padding-bottom: -150px;
}

header div ul li a:hover {
    background-color: #575757;
}

.bg-1-1 {
    height: 500px;
    background-image: url("../img/bg-1-1.jpg");
    background-size: cover;
    background-position: center;
}

.bg-2-1 {
    height: 320px;
    background-image: url("https://i.picsum.photos/id/558/1920/1080.jpg?hmac=IZRN-h6-48bz6A9ss9ekFqgTYrzpMrBqXSBpioGnHhk");
    background-size: cover;
    background-position: center;
}

.text-shadow {
    text-shadow: 2px 2px 5px #000000;
}
